:root {
    --deep-black: #050505;
}

body {
    background-color: var(--deep-black);
    color: white;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
.heading-font {
    font-family: 'Syne', sans-serif;
    letter-spacing: -0.05em;
}

.noise-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.05;
    z-index: 9999;
    background-image: url('https://grainy-gradients.vercel.app/noise.svg');
}

::selection {
    background: #4f46e5;
    color: white;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

/* Utility to hide focus outlines for non-keyboard users */
:focus:not(:focus-visible) {
    outline: none;
}